@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic prose styles */
.basic-prose {
    max-width: 80ch;
}

.basic-prose h1 {
    @apply text-3xl font-bold mb-6 mt-2 text-center;
}

.basic-prose h2 {
    @apply text-xl font-bold mb-2 mt-6;
}

.basic-prose h3 {
    @apply text-lg font-bold mb-2 mt-4;
}

.basic-prose a {
    @apply text-indigo-500 dark:text-indigo-400;
}

.basic-prose p {
    @apply mb-4;
}

.basic-prose ul {
    @apply list-disc ml-8 mb-4;
}

.basic-prose .subheading {
    @apply text-2xl;
}

/*
 The default Torchlight CSS from https://torchlight.dev/docs/css
*/

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
    @apply my-4 rounded overflow-x-auto;
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    @apply block py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
pre code.torchlight .line {
    @apply px-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}

/*
 Reactivity control to show/hide line numbers.
 */
#code-card[data-line-numbers="false"] .line-number {
    @apply hidden;
}

/*
 General helper classes
 */

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding-top: 8px;
    background-color: rgb(55 65 81);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.toast span {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    display: inline-block;
}

.toast .progress-bar {
    width: 0;
    height: 4px;
    background-color: rgb(37 99 235 / 75%);
    border-radius: 2px;
    animation: progress 3s linear forwards;
}

@keyframes progress {
    0% { width: 100%; }
    100% { width: 0; }
}
